* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.mainHeader{
    position: sticky;
    top: 0;     
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 13px;
    background-color: #1C398E;

}

.header1Text{
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header1Text:last-child{
    margin-right: 7px;
}


.header2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

.header3{
    display: flex;
    align-items: center;
}

.logo{
    height: 75px;
    width: auto;
    display: block;
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px;
}

.marker{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.marker:last-child{
     margin-right: 20px;
}

.que{
    background-color: #155DFC;
    border-radius: 10px;
    color: azure;
    padding: 10px 20px;
    margin-left: 15px;
}

.name{
    font-size: 25px;
    margin-bottom: 7px;
    font-weight: 600;
}



.stoke1{
    display: flex;
    align-items: flex-start;
    background-image: url("../img/stoke.jpg");
    width: 100%;
    height: 500px;
}

.stokeText{
    padding: 10px;
    font-size: 90px;
    justify-content: center;
    color: whitesmoke;
    margin: 0 10px 0 0;
    padding: 0;
}

.stokeText2{
    padding: 10px;
    font-size: 40px;
    justify-content: center;
     color: whitesmoke;
     margin: 0 10px 0 0;
     padding: 0;
}

.foto{
    width: 40%;
    height: auto;
    border-radius: 20px;
    margin-top: 4%;
}

.ach{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 100px;
    margin-top: 5px;
}

.pipisua{
    margin-top: 10px;
}

.uslugi{
    display: flex;
    justify-content: center;
}

.spisok2{
    display: flex;
    justify-content: center;
    list-style: none;
}

.run{
    display: flex;
    justify-content: center;
}

.map-container{
    width: 100%;
    height: 500px;
}

.map{
    width: 100%;
    height: 100%;
}

footer{
    margin-top: 75px;
}

.footer2{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

.footer3{
    list-style: none;
}

.footer4{
     display: flex;
    justify-content: center;
}